# JavaScript / TypeScript
node_modules
dist
yarn-error.log
tsconfig.tsbuildinfo
yarn.lock
package-lock.json

# Environment
.env
.env.*

# Serverless
.serverless/

# SPDX-License-Identifier: (EUPL-1.2)
# Copyright © 2019-2022 snek.at
